.footer{
    width: 100%;
    height: 348px;
    background: url(../img/yinyue_bg.jpg) no-repeat center;
    position: relative;
}
.footer .music{
    position: absolute;
    width: 575px;
    top: 118px;
    margin:auto;
    left: 0;
    right: 0
}
.music>li{
    width: 57px;
    height: 57px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.music>.one{
    background: url(../img/yinyue_duo.png) no-repeat;
}
.music>.one1{
    background: url(../img/yinyue_lai.png) no-repeat;
}
.music>.one2{
    background: url(../img/yinyue_mi.png) no-repeat;
}
.music>.one3{
    background: url(../img/yinyue_fa.png) no-repeat;
}
.music>.one4{
    background: url(../img/yinyue_suo.png) no-repeat;
}
.music>.one5{
    background: url(../img/yinyue_la.png) no-repeat;
}
.music>.one1{
    background: url(../img/yinyue_xi.png) no-repeat;
}
.music>li:hover{
    background-position: 0 -57px;
}
.footer .top{
    height: 260px;
    border-bottom: 1px dashed white;
}
.footer p{
    color: white;
    text-align: center;
    line-height: 80px;
}
#footer{
    position: relative;
}
.tu{
    position: absolute;
    width: 100%;
    height: 33px;
    top: -33px;
    left: 0;
    background: url(../img/map_bottomimg.png) no-repeat center center;
}