/* 头部 */
.header{
    width: 100%;
    height: 120px;
    background: #37274B url(../img/header_bg.jpg) no-repeat center;
}
.header .logo{
    width: 376px;
    height: 120px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -9999px;
}
.header .nav{
    padding-top: 47.5px;
    font-size: 14px;
}
.nav a{
    color: white;
}
.nav ul li{
    position: relative;
    float: left;
    margin: 0 14px;
    line-height: 25px;
}
.nav span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/nav_xiajiantou.png) no-repeat;
    margin-left: 10px;
    vertical-align: top;
}
.nav ul li:hover span{
    background-image: url(../img/nav_xiajiantou_hover.png);
}
/* second menu */
.nav ol{
    position: absolute;
    width: 120%;
    z-index: 10;
    background: #37274B;
    left: -20%;
    display: none;
}
.nav ol li{
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin: 0;
}
.nav ol li:hover{
    background: #039de9;
    padding-left: 10%;
    width: 90%;
}