/* 头部 */
.header{
    width: 100%;
    height: 120px;
    background: #37274B url(../img/header_bg.jpg) no-repeat center;
}
.header .logo{
    width: 376px;
    height: 120px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -9999em;
}
.header .nav{
    padding-top: 45px;
    font-size: 14px;
}
.first-list>li>a{
    display: inline-block;
    color: white;
    padding: 5px 10px;
}
.first-list>li{
    position: relative;
    float: left;
    cursor: pointer;
}
.first-list>li>span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/nav_xiajiantou.png) no-repeat;
    vertical-align: top;
}
.first-list>li:hover>span{
    background-image: url(../img/nav_xiajiantou_hover.png);
}

/* second menu */

.nav .second-list{
    position: absolute;
    width: 120%;
    background: #37274B;
    left: -20%;
    display: none;
    z-index: 10;
}
.second-list>li>a{
    display: block;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-left: -20px;
}
.second-list>li{
    position: relative;
}
.second-list>li:hover a{
    background: #039de9;
    margin: 0;
}
.second-list>li>span{
    position: absolute;
    width: 5px;
    height: 8px;
    background: url(../img/nav_li_bg.png) no-repeat;
    right: 10px;
    top: 16px;
    display: none;
}
.second-list>li:hover span{
    display: block;
}
